{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->

<section class="section-conten padding-y " style="min-height:78vh">
	{% include 'includes/alerts.html' %}
<!-- ============================ COMPONENT LOGIN   ================================= -->
{% if request.GET.command == 'verification' %}

	<div class="container mx-auto alert alert-info text-center" role="alert" style="max-width: 1024px; margin-top:50px;">
		Thank you for register with Final Project! We have sent a verification email to [{{request.GET.email}}]!
		<br><br>
		Already Verified? <a href="{% url 'login' %}">Log in here!</a>
	</div>

{% else %}
	<div class="card mx-auto" style="max-width: 400px; margin-top:50px;">

      <div class="card-body">
      <h4 class="card-title mb-2">Sign in</h4>
      <form class="" action="{% url 'login' %}" method="POST">
				{% csrf_token %}

          <div class="form-group">
			 <input type="email" class="form-control" placeholder="Email Address" name="email" required>
          </div> <!-- form-group// -->
          <div class="form-group">
			<input type="password" class="form-control" placeholder="Password" name="password" required>
          </div> <!-- form-group// -->

          <div class="form-group">
          	<a href="{% url 'forgotPassword' %}" class="float-right">Forgot password?</a>
          </div> <!-- form-group form-check .// -->
          <div class="form-group">
              <button type="submit" class="btn btn-outline-primary btn-block"> Login  </button>
          </div> <!-- form-group// -->
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <p class="text-center mt-1">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>

<!-- ============================ COMPONENT LOGIN  END.// ================================= -->
{% endif %}

</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
