{% extends 'base.html' %}

{% load static %}

{% block content %}
<br>
<section class="section-intro mt-5 padding-y-sm">
  <div id="divcon" class="container">
    <h3 class="text-center mt-5">Our Privacy Policy</h3>

    <h4>1. Information on the controller for processing of the data housed on the official website of Final Project RETAIL SERVICES on the social network</h4>

    <p>In compliance with the duty of information set out in Regulation (EU) 2016/679 of 27 April (GDPR) and Organic Law (ES) 3/2018, of 5 December (LOPDGDD), Final Project SERVICES, hereinafter the Controller, wishes to inform users of this social network of its policy regarding the processing and protection of the personal data of those persons who voluntarily access and use the official website of the Controller therein. When users access and use this official website of the Controller, it supposes that they explicitly accept this privacy policy and provide their consent for the processing of their personal data as provided for therein.</p>


    <h4>2. Data of minors and the legally incapacitated</h4>
    <br>
    <p>Access to, and registration on this social network is prohibited for those younger than fourteen (14) years of age. Similarly, those under the age of fourteen (14) are also prohibited from accessing and using the Controller’s official website therein. If the user is legally incapacitated, the Controller hereby informs him/her that the agreed assistance of his/her parent or legal guardian, or his/her legal representative, is necessary for access to and use of this official website of the Controller. The Controller shall be explicitly exempted from any liability that might arise from the use of its official website by minors and the legally incapacitated, with said liability resting with his/her legal representatives in each case.</p>


    <h4>3. Identification of the file controller’s business purpose</h4>

    <p>The user is informed that the Controller, with registered office in, is the controller for the files and processing by means of which the user’s personal data are collected and stored as a result of said user registering with and using the Controller’s official website, on this social network, without prejudice to the processing for which the owner of the social network in which our website is found is responsible.</p>


    <h4>4. Purposes for which the personal data, information and consent are collected</h4>

    <p>The personal data provided voluntarily by the user to the Controller, through its official website, will form part of data processing for which the Controller is responsible. The purpose of said processing is to offer the user information about the Controller, by e-mail, fax, SMS, social communities, or any other electronic or physical medium, present or future, which makes it possible to send commercial communications and newsletters to subscribed users, exchange information with the Controller and other users, and establish communication with third parties.</p>
    <p>The user is free to use the Controller’s official website, on this social network and, consequently, if the user does not agree with the processing of his/her data for said purposes, he/she must not use it or provide his/her personal data.</p>
    <p>The user can use this, the Controller’s official website, to share texts, photos, videos and other types of information and/or content, which will be subject both to this policy and to the Standards and Conditions that apply to the Platform. The user shall be responsible for ensuring that all the content he/she publishes complies with the current legislation, this policy and the Platform Standards.</p>
    <p>The user may only publish on this official Controller website personal data, photographs and information or other content for which he/she is the owner or proprietor or for which he/she has obtained the authorisation of third parties.</p>
    <p>The Controller shall have the right to delete from this official website – unilaterally and with no prior communication or user authorisation – any content published by the user when he/she infringes or breaches the current legislation, the standards set out in this policy and the Platform Standards.</p>


    <h4>5. Identification of the recipients to whom the Controller is intending to transfer or communicate data</h4>

    <p>The user is informed that any information and content published on the Controller’s official website on the social network may be seen by all other users of the official website and the social network platform. Consequently, all the information and content published by the user on the Controller’s official website on this social network will be communicated to the other users by the very nature of the service.</p>
    <p>The Controller only intends to transfer or communicate data to courts, tribunals, public administrations and competent authorities of an administrative nature that it is required to do by the current legislation.</p>


    <h4>6. Other third-party service providers</h4>

    <p>The Controller informs the user that this company is only the controller for, and guarantees the confidentiality, security and processing of the data under this policy for those user data of a personal nature that it collects via this official website on this social network; it cannot assume liability of any kind for subsequent processing and use of the personal data that might be carried out either by the owner of the social network or third-party information society service providers that might access said data through the provision of their services or the exercise of their activity, third parties establishing hyperlinks to the social network, or those controllers to whom the Controller refers users signed up to this official website via hyperlinks.</p>


    <h4>7. Quality of the data</h4>

    <p>The Controller informs users that, unless there is a legally constituted representation, no user may use the identity of another person and communicate his/her personal data; users must bear in mind at all times that they may only provide personal data corresponding to their own identity, and which must be appropriate, relevant, current, accurate and true. In any event, users must respect the privacy of third parties, whether or not the latter are users of the social network or of the Controller’s official website, on said social network.</p>


    <h4>8.Rights assisting the Data Subject</h4>

    <p>- Right to withdraw consent at any time</p>
    <p>- Right of access, rectification, portability and erasure of your data and the right to restrict and object to them being processed.</p>
    <p>- Right to lodge a complaint with the Supervisory Authority (agpd.es) if you consider that the processing does not comply with the current legislation.</p>

    <h4>9. Other information of interest</h4>

    <p>The Controller may modify and/or replace this policy at any time; said policy may, depending on the case, replace, complete and/or modify the one currently published here. For this reason, users must access the policies periodically in order to stay up to date.</p>
    <p>Users may contact the Controller using the social network’s internal messaging service, or by using the following contact addresses and details:</p>
    <p>Final Project RETAIL SERVICES<br>
    O’Connel <br>
    Dublin 1 (Ireland)<br>
    aa3942002@gmail.com</p>
    <p>Users may also consult the standards and policies published by the owner of the social network for use thereof.</p>
  </div>
</section>
<br>
{% endblock %}
